<footer class="mt-auto w-full py-6">
  <div class="content-container">
    <div class="flex items-center justify-between">
      <a class="text-xl font-bold text-gray-800" href="/" aria-label="Saar Byrne">Saar Byrne</a>

      <div class="flex items-center gap-x-2">
        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-transparent text-gray-500 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="https://www.linkedin.com/in/saar-byrne-72516b20/" target="_blank" rel="noopener noreferrer">
          <i class="ph ph-linkedin-logo size-4"></i>
        </a>
        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-transparent text-gray-500 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="https://github.com/saarbyrne" target="_blank" rel="noopener noreferrer">
          <i class="ph ph-github-logo size-4"></i>
        </a>
      </div>

      <p class="text-gray-500 text-sm">© 2025</p>
    </div>
  </div>
</footer>


