<header data-site-header class="fixed top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full">
  <nav class="relative content-container w-full flex items-center justify-between gap-3 py-2">
    <a class="flex-none font-bold text-xl text-black focus:outline-none focus:opacity-80" href="/" aria-label="Saar Byrne">
      <span class="md:hidden">SB</span>
      <span class="hidden md:inline">Saar Byrne</span>
    </a>

    <div class="flex items-center gap-0.5 md:gap-1">
      <a class="p-2 flex items-center text-sm font-semibold  text-gray-800 hover:text-gray-500 focus:outline-none focus:text-gray-500" href="/">
        Work
      </a>

      <a class="p-2 flex items-center text-sm font-semibold  text-gray-800 hover:text-gray-500 focus:outline-none focus:text-gray-500" href="/projects.html">
        Projects
      </a>

      <a class="p-2 flex items-center text-sm font-semibold  text-gray-800 hover:text-gray-500 focus:outline-none focus:text-gray-500" href="/about.html">
        About
      </a>
    </div>
  </nav>
</header>


